@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: #c8d6e5;
    background: #222f3e;
    font-size: 14px;
  }

  input {
    outline: none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #2d3f53 inset !important;
    -webkit-text-fill-color: #c8d6e5;
  }
}
